:root {
  --blue: #00acee;
  --salmon: #fa8072;
}

* {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding: 1rem 10rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3rem;
}

.profileImg {
  height: 180px;
  border-radius: 50%;
}

.profileName {
  margin-top: 1.5rem;
  font-family: 'Nerko One', cursive;
  font-size: 2rem;
}

.profileEmail {
  margin-top: 1rem;
  font-family: 'Nerko One', cursive;
  font-size: 1rem;
}

.profileHeart {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: var(--blue);
}

.profileHeart:hover {
  cursor: pointer;
}

.posts {
  display: flex;
  flex-direction: column;
}

.post {
  min-height: 5rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 1rem;
  padding: 1rem;
}

.postTitle {
  font-family: 'Nerko One', cursive;
  font-size: 2rem;
}

.login {
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.loginButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.loginFont {
  font-size: 2rem;
  color: var(--blue);
}

.loginFont:hover {
  font-size: 3rem;
  color: var(--salmon);
  transition: all 0.8s ease 0s;
}
